		*{
			margin: 0;
			padding: 0;
		}
		#box{
			background: #ccc;
			width: 400px;
			height: 200px;
			position: absolute;
			left: 50%; top: 50%;
			transform: translate(-50%, -50%);
			/*left: 0; right: 0; top: 0; bottom: 0;
			margin: auto;

			 left: 50%; top: 50%;
			margin-left: -200px;
			margin-top: -100px; 
			三种设置块状元素垂直居中的方法*/
		}
		.left-top-area{
			width: 50px;
			height: 50px;
			position: absolute;
			border-radius: 0 0 50px 0;
			background-color: #fc0;
		}
		.right-bottom-area{
			width: 50px;
			height: 50px;
			border-radius: 50px 0 0 0;
			background-color: #fc0;
			position: absolute;
			right: 0; bottom: 0;
		}